.main__slider {
    position: relative;
  width: 100%;
  height: fit-content;

  padding: 5vw 0;

  background-blend-mode: color-dodge;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: black;
}

.main__slider h1 {
  font-size: 2rem;
}

.sliderBg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  z-index: -10;
}

.main__slider .slider {
  width: 60vw;
  aspect-ratio: 16/9;
}

.main__slider img {
  border-radius: 1vw;
}

@media screen and (max-width: 700px) {
  .main__slider {
    padding: 15vw 0;
  }

  .main__slider h1 {
    font-size: 1.5rem;
  }
  .main__slider .slider {
    width: 90vw;
  }
}
